body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    text-align: center;
    color:darkmagenta
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
    width: 20%;
} 
.project {
width: 20%;
margin: 10px;
padding: 20px 10px;
background: rgb(41, 152, 255); /* pick a color */
border-radius: 25%;
}
